/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Contenitori */
.container {
    width: 100%;
    margin: 0 auto;
}
.container.classic {
    max-width: 1070px;
}

/* Flex */
.flex {
    display: flex;
}
.flex.row {
    flex-flow: row wrap;
}
.flex.column {
    flex-flow: column wrap;
}

/* Griglia */
.row.equal-xs > .col {
    flex-grow: 1;
}
.col.xs-12 {
    flex-basis: calc(100% / 12 * 12);
}
.col.xs-11 {
    flex-basis: calc(100% / 12 * 11);
}
.col.xs-10 {
    flex-basis: calc(100% / 12 * 10);
}
.col.xs-9 {
    flex-basis: calc(100% / 12 * 9);
}
.col.xs-8 {
    flex-basis: calc(100% / 12 * 8);
}
.col.xs-7 {
    flex-basis: calc(100% / 12 * 7);
}
.col.xs-6 {
    flex-basis: calc(100% / 12 * 6 );
}
.col.xs-5 {
    flex-basis: calc(100% / 12 * 5);
}
.col.xs-4 {
    flex-basis: calc(100% / 12 * 4);
}
.col.xs-3 {
    flex-basis: calc(100% / 12 * 3);
}
.col.xs-2 {
    flex-basis: calc(100% / 12 * 2);
}
.col.xs-1 {
    flex-basis: calc(100% / 12 * 1);
}

/* Offset */
.col.offset-xs-12 {
    margin-left: calc(100% / 12 * 12);
}
.col.offset-xs-11 {
    margin-left: calc(100% / 12 * 11);
}
.col.offset-xs-10 {
    margin-left: calc(100% / 12 * 10);
}
.col.offset-xs-9 {
    margin-left: calc(100% / 12 * 9);
}
.col.offset-xs-8 {
    margin-left: calc(100% / 12 * 8);
}
.col.offset-xs-7 {
    margin-left: calc(100% / 12 * 7);
}
.col.offset-xs-6 {
    margin-left: calc(100% / 12 * 6);
}
.col.offset-xs-5 {
    margin-left: calc(100% / 12 * 5);
}
.col.offset-xs-4 {
    margin-left: calc(100% / 12 * 4);
}
.col.offset-xs-3 {
    margin-left: calc(100% / 12 * 3);
}
.col.offset-xs-2 {
    margin-left: calc(100% / 12 * 2);
}
.col.offset-xs-1 {
    margin-left: calc(100% / 12 * 1);
}
.col.offset-xs-0 {
    margin-left: calc(100% / 12 * 0);
}

/* Allinamenti */
.flex.justify-start-xs {
    justify-content: flex-start;
}
.flex.justify-center-xs {
    justify-content: center;
}
.flex.justify-end-xs {
    justify-content: flex-end;
}
.flex.justify-space-around-xs {
    justify-content: space-around;
}
.flex.justify-space-between-xs {
    justify-content: space-between;
}
.flex.justify-space-evenly-xs {
    justify-content: space-evenly;
}
.flex.align-start-xs {
    align-items: flex-start;
}
.flex.align-center-xs {
    align-items: center;
}
.flex.align-end-xs {
    align-items: flex-end;
}

/* Responsive               */
@media screen and (min-width: 576px) {
    .row.equal-sm > .col {
        flex-grow: 1;
    }
    .col.sm-12 {
        flex-basis: calc(100% / 12 * 12);
    }
    .col.sm-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col.sm-10 {
        flex-basis: calc(100% / 12 * 10);
    }
    .col.sm-9 {
        flex-basis: calc(100% / 12 * 9);
    }
    .col.sm-8 {
        flex-basis: calc(100% / 12 * 8);
    }
    .col.sm-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col.sm-6 {
        flex-basis: calc(100% / 12 * 6 );
    }
    .col.sm-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col.sm-4 {
        flex-basis: calc(100% / 12 * 4);
    }
    .col.sm-3 {
        flex-basis: calc(100% / 12 * 3);
    }
    .col.sm-2 {
        flex-basis: calc(100% / 12 * 2);
    }
    .col.sm-1 {
        flex-basis: calc(100% / 12 * 1);
    }
    
    /* Offset */
    .col.offset-sm-12 {
        margin-left: calc(100% / 12 * 12);
    }
    .col.offset-sm-11 {
        margin-left: calc(100% / 12 * 11);
    }
    .col.offset-sm-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .col.offset-sm-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .col.offset-sm-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .col.offset-sm-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .col.offset-sm-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .col.offset-sm-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .col.offset-sm-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .col.offset-sm-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .col.offset-sm-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .col.offset-sm-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .col.offset-sm-0 {
        margin-left: calc(100% / 12 * 0);
    }
    
    /* Allinamenti */
    .flex.justify-start-sm {
        justify-content: flex-start;
    }
    .flex.justify-center-sm {
        justify-content: center;
    }
    .flex.justify-end-sm {
        justify-content: flex-end;
    }
    .flex.justify-space-around-sm {
        justify-content: space-around;
    }
    .flex.justify-space-between-sm {
        justify-content: space-between;
    }
    .flex.justify-space-evenly-sm {
        justify-content: space-evenly;
    }
    .flex.align-start-sm {
        align-items: flex-start;
    }
    .flex.align-center-sm {
        align-items: center;
    }
    .flex.align-end-sm {
        align-items: flex-end;
    }
}
@media screen and (min-width: 768px) {
    .row.equal-md > .col {
        flex-grow: 1;
    }
    .col.md-12 {
        flex-basis: calc(100% / 12 * 12);
    }
    .col.md-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col.md-10 {
        flex-basis: calc(100% / 12 * 10);
    }
    .col.md-9 {
        flex-basis: calc(100% / 12 * 9);
    }
    .col.md-8 {
        flex-basis: calc(100% / 12 * 8);
    }
    .col.md-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col.md-6 {
        flex-basis: calc(100% / 12 * 6 );
    }
    .col.md-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col.md-4 {
        flex-basis: calc(100% / 12 * 4);
    }
    .col.md-3 {
        flex-basis: calc(100% / 12 * 3);
    }
    .col.md-2 {
        flex-basis: calc(100% / 12 * 2);
    }
    .col.md-1 {
        flex-basis: calc(100% / 12 * 1);
    }
    
    /* Offset */
    .col.offset-md-12 {
        margin-left: calc(100% / 12 * 12);
    }
    .col.offset-md-11 {
        margin-left: calc(100% / 12 * 11);
    }
    .col.offset-md-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .col.offset-md-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .col.offset-md-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .col.offset-md-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .col.offset-md-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .col.offset-md-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .col.offset-md-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .col.offset-md-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .col.offset-md-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .col.offset-md-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .col.offset-md-0 {
        margin-left: calc(100% / 12 * 0);
    }
    
    /* Allinamenti */
    .flex.justify-start-md {
        justify-content: flex-start;
    }
    .flex.justify-center-md {
        justify-content: center;
    }
    .flex.justify-end-md {
        justify-content: flex-end;
    }
    .flex.justify-space-around-md {
        justify-content: space-around;
    }
    .flex.justify-space-between-md {
        justify-content: space-between;
    }
    .flex.justify-space-evenly-md {
        justify-content: space-evenly;
    }
    .flex.align-start-md {
        align-items: flex-start;
    }
    .flex.align-center-md {
        align-items: center;
    }
    .flex.align-end-md {
        align-items: flex-end;
    }
}
@media screen and (min-width: 992px) {
    .row.equal-lg > .col {
        flex-grow: 1;
    }
    .col.lg-12 {
        flex-basis: calc(100% / 12 * 12);
    }
    .col.lg-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col.lg-10 {
        flex-basis: calc(100% / 12 * 10);
    }
    .col.lg-9 {
        flex-basis: calc(100% / 12 * 9);
    }
    .col.lg-8 {
        flex-basis: calc(100% / 12 * 8);
    }
    .col.lg-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col.lg-6 {
        flex-basis: calc(100% / 12 * 6 );
    }
    .col.lg-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col.lg-4 {
        flex-basis: calc(100% / 12 * 4);
    }
    .col.lg-3 {
        flex-basis: calc(100% / 12 * 3);
    }
    .col.lg-2 {
        flex-basis: calc(100% / 12 * 2);
    }
    .col.lg-1 {
        flex-basis: calc(100% / 12 * 1);
    }
    
    /* Offset */
    .col.offset-lg-12 {
        margin-left: calc(100% / 12 * 12);
    }
    .col.offset-lg-11 {
        margin-left: calc(100% / 12 * 11);
    }
    .col.offset-lg-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .col.offset-lg-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .col.offset-lg-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .col.offset-lg-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .col.offset-lg-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .col.offset-lg-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .col.offset-lg-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .col.offset-lg-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .col.offset-lg-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .col.offset-lg-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .col.offset-lg-0 {
        margin-left: calc(100% / 12 * 0);
    }
    
    /* Allinamenti */
    .flex.justify-start-lg {
        justify-content: flex-start;
    }
    .flex.justify-center-lg {
        justify-content: center;
    }
    .flex.justify-end-lg {
        justify-content: flex-end;
    }
    .flex.justify-space-around-lg {
        justify-content: space-around;
    }
    .flex.justify-space-between-lg {
        justify-content: space-between;
    }
    .flex.justify-space-evenly-lg {
        justify-content: space-evenly;
    }
    .flex.align-start-lg {
        align-items: flex-start;
    }
    .flex.align-center-lg {
        align-items: center;
    }
    .flex.align-end-lg {
        align-items: flex-end;
    }
}
@media screen and (min-width: 1200px) {
    .row.equal-xl > .col {
        flex-grow: 1;
    }
    .col.xl-12 {
        flex-basis: calc(100% / 12 * 12);
    }
    .col.xl-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col.xl-10 {
        flex-basis: calc(100% / 12 * 10);
    }
    .col.xl-9 {
        flex-basis: calc(100% / 12 * 9);
    }
    .col.xl-8 {
        flex-basis: calc(100% / 12 * 8);
    }
    .col.xl-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col.xl-6 {
        flex-basis: calc(100% / 12 * 6 );
    }
    .col.xl-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col.xl-4 {
        flex-basis: calc(100% / 12 * 4);
    }
    .col.xl-3 {
        flex-basis: calc(100% / 12 * 3);
    }
    .col.xl-2 {
        flex-basis: calc(100% / 12 * 2);
    }
    .col.xl-1 {
        flex-basis: calc(100% / 12 * 1);
    }
    
    /* Offset */
    .col.offset-xl-12 {
        margin-left: calc(100% / 12 * 12);
    }
    .col.offset-xl-11 {
        margin-left: calc(100% / 12 * 11);
    }
    .col.offset-xl-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .col.offset-xl-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .col.offset-xl-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .col.offset-xl-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .col.offset-xl-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .col.offset-xl-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .col.offset-xl-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .col.offset-xl-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .col.offset-xl-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .col.offset-xl-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .col.offset-xl-0 {
        margin-left: calc(100% / 12 * 0);
    }
    
    /* Allinamenti */
    .flex.justify-start-xl {
        justify-content: flex-start;
    }
    .flex.justify-center-xl {
        justify-content: center;
    }
    .flex.justify-end-xl {
        justify-content: flex-end;
    }
    .flex.justify-space-around-xl {
        justify-content: space-around;
    }
    .flex.justify-space-between-xl {
        justify-content: space-between;
    }
    .flex.justify-space-evenly-xl {
        justify-content: space-evenly;
    }
    .flex.align-start-xl {
        align-items: flex-start;
    }
    .flex.align-center-xl {
        align-items: center;
    }
    .flex.align-end-xl {
        align-items: flex-end;
    }
}
@media screen and (min-width: 1400px) {
    .row.equal-xxl > .col {
        flex-grow: 1;
    }
    .col.xxl-12 {
        flex-basis: calc(100% / 12 * 12);
    }
    .col.xxl-11 {
        flex-basis: calc(100% / 12 * 11);
    }
    .col.xxl-10 {
        flex-basis: calc(100% / 12 * 10);
    }
    .col.xxl-9 {
        flex-basis: calc(100% / 12 * 9);
    }
    .col.xxl-8 {
        flex-basis: calc(100% / 12 * 8);
    }
    .col.xxl-7 {
        flex-basis: calc(100% / 12 * 7);
    }
    .col.xxl-6 {
        flex-basis: calc(100% / 12 * 6 );
    }
    .col.xxl-5 {
        flex-basis: calc(100% / 12 * 5);
    }
    .col.xxl-4 {
        flex-basis: calc(100% / 12 * 4);
    }
    .col.xxl-3 {
        flex-basis: calc(100% / 12 * 3);
    }
    .col.xxl-2 {
        flex-basis: calc(100% / 12 * 2);
    }
    .col.xxl-1 {
        flex-basis: calc(100% / 12 * 1);
    }
    
    /* Offset */
    .col.offset-xxl-12 {
        margin-left: calc(100% / 12 * 12);
    }
    .col.offset-xxl-11 {
        margin-left: calc(100% / 12 * 11);
    }
    .col.offset-xxl-10 {
        margin-left: calc(100% / 12 * 10);
    }
    .col.offset-xxl-9 {
        margin-left: calc(100% / 12 * 9);
    }
    .col.offset-xxl-8 {
        margin-left: calc(100% / 12 * 8);
    }
    .col.offset-xxl-7 {
        margin-left: calc(100% / 12 * 7);
    }
    .col.offset-xxl-6 {
        margin-left: calc(100% / 12 * 6);
    }
    .col.offset-xxl-5 {
        margin-left: calc(100% / 12 * 5);
    }
    .col.offset-xxl-4 {
        margin-left: calc(100% / 12 * 4);
    }
    .col.offset-xxl-3 {
        margin-left: calc(100% / 12 * 3);
    }
    .col.offset-xxl-2 {
        margin-left: calc(100% / 12 * 2);
    }
    .col.offset-xxl-1 {
        margin-left: calc(100% / 12 * 1);
    }
    .col.offset-xxl-0 {
        margin-left: calc(100% / 12 * 0);
    }
    
    /* Allinamenti */
    .flex.justify-start-xxl {
        justify-content: flex-start;
    }
    .flex.justify-center-xxl {
        justify-content: center;
    }
    .flex.justify-end-xxl {
        justify-content: flex-end;
    }
    .flex.justify-space-around-xxl {
        justify-content: space-around;
    }
    .flex.justify-space-between-xxl {
        justify-content: space-between;
    }
    .flex.justify-space-evenly-xxl {
        justify-content: space-evenly;
    }
    .flex.align-start-xxl {
        align-items: flex-start;
    }
    .flex.align-center-xxl {
        align-items: center;
    }
    .flex.align-end-xxl {
        align-items: flex-end;
    }
}